<section>


  <div style="height: 3em;"></div>

  <fieldset class="fieldset-class">

    <legend class="legend-class">Your Personal Inormation</legend>
    <table>
      <tr>
        <td><label>name</label></td>
        <td><input type='text' name='name'></td>
      </tr>
      <tr>
        <td><label>address</label></td>
        <td><input type='text' name='Address'></td>
      </tr>
      <tr>
        <td><label>city</label></td>
        <td><input type='text' name='City'></td>
      </tr>
    </table>
  </fieldset>

</section>
