.main-section {
  display: flex;
  justify-content: center;

  border: 2px dashed blue;
}

.tenzies-main-out {
  height: 34rem;
  width: 34rem;
  background-color: #0A202D;
  border: 2px dotted red;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .tenzies-main-inner {
    height: 29rem;
    width: 29rem;
    padding: 1rem;
    border: 2px dotted red;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    align-content: flex-start;
    row-gap: 1rem;
    column-gap: 1rem;

    .btn-roll {
      background-color: #FFD700;
      color: #0A202D;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      margin-top: 6rem;
    }
  }
}

button.btn-roll:enabled:hover,
button.btn-roll:enabled:focus {
  background-color: #FFD700;
  box-shadow: 2px 3px 8px 2px #935858;
}
