<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

   <localRepository>file:///repo</localRepository>

   <proxies>
      <proxy>
         <active>true</active>

         <protocol>http</protocol>

         <host>gateway.nam.coair.com</host>

         <port>80</port>

         <username>nam\se605</username>

         <password>!teamnet1</password>

         <nonProxyHosts>www.google.com|*.somewhere.com</nonProxyHosts>
      </proxy>
   </proxies>

   <profiles>
      <profile>
         <id>myprofile</id>

         <repositories>
            <repository>
               <id>coair</id>

               <name>coair.remote.repo: coair custom repo</name>

               <url>file:///myRemoteServerURL</url>
            </repository>
         </repositories>
      </profile>
   </profiles>

   <activeProfiles>
      <activeProfile>coair</activeProfile>
   </activeProfiles>

   <pluginGroups>
      <pluginGroup>com.myproject.plugin.java</pluginGroup>

      <pluginGroup>com.myproject.plugin.ant</pluginGroup>
   </pluginGroups>
</settings>

