<section>

  <div>
    <h3>Pie Chart</h3>

    <div fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="center center">
      <div fxFlex="none" style="display: block;">
        <canvas baseChart width="400" height="400" [data]="pieChartData" [options]="pieChartOptions" [type]="pieChartType">
        </canvas>
      </div>
    </div>
  </div>


  <h3>Line Chart</h3>
  <div fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="start center">
    <mat-form-field fxFlex="10em" class="example-form-field">
      <mat-label>Ticker Symbol</mat-label>
      <input matInput type="text" class="to-uppercase" [patterns]="tickerSymbolPattern" mask='BBBBBB' (keyup.enter)="getQuote()"
        [showMaskTyped]="false" [(ngModel)]="symbol">
      <button mat-button *ngIf="symbol" matSuffix mat-icon-button aria-label="Clear" (click)="symbol=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Please enter a symbol.</mat-error>
    </mat-form-field>

    <button fxFlex='none' mat-raised-button color="primary" (click)="getQuote()" [disabled]="!symbol">Get
      Quote</button>
  </div>

  <div>
    {{stock?.name}}
  </div>

  <hr>

  <div fxLayout="column" fxLayoutGap="2em" fxLayoutAlign="center center">
    <div fxFlex="none" style="display: block;">
      <canvas baseChart width="800" height="800" [data]="lineChartData" [options]="lineChartOptions" [legend]="lineChartLegend"
        [type]="lineChartType"></canvas>
    </div>

    <table fxFlex="none">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>

    <div fxFlex="none">
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
      <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
      <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
      <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
      <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
    </div>
  </div>

</section>
