<section class="flex items-center justify-end p-4 h-16 bg-gray-800 text-white">
  <nav aria-label="Main navigation">
    <a routerLink="home" routerLinkActive="active">(eager) Home</a>
    &nbsp;|&nbsp;
  </nav>
  <nav aria-label="Secondary navigation">
    <a routerLink="window-size" routerLinkActive="active">Window Size</a>
    &nbsp;|&nbsp;
    <a routerLink="contact" routerLinkActive="active">Contact</a>
    &nbsp;|&nbsp;
    <a routerLink="about" routerLinkActive="active">About</a>
    &nbsp;|&nbsp;
    <ng-icon name="heroUser" class="border-amber-400" />

  </nav>
</section>
