button {
  height: 2em;
}

.draft-img {
  position: relative;
  background-image: url(/assets/imgs/sell-draft.jpg);
  height: 31em;
}

.draft-card {
  position: absolute;
  z-index: 1_000;
  top: 8em;
  right: 5%;
  width: 22em;
}

.sell-as-business {
  background-image: url(/assets/imgs/sell-as-business.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15em;
}

$section-height: 16em;

.create-list-section {
  height: calc($section-height + 3em);
  width: max-content;
}

.create-list-container {
  position: relative;
  padding: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  height: $section-height;
  width: 100%;
  border: 1px black dotted;
  border-radius: 1.2em;
}

.create-list-button {
  position: absolute;
  width: max-content;
  opacity: 0.7;
  z-index: 100;
}

.create-list-card {
  border-radius: 1em;
  width: 30em;
  height: $section-height;

  li {
    padding: 0 0 1em;
  }
}

.color0 {
  background-color: #FFDEC7;
}

.color1 {
  background-color: #FCF2BD;
}

.color2 {
  background-color: #C5E5FB;
}

.color3 {
  background-color: #FAD8F0;
}

.color4 {
  background-color: #CCFDCE;
}

.color5 {
  background-color: #FFDEC7;
}

mat-expansion-panel {
  p {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.sell-end {
  position: relative;
  background-image: url('/assets/imgs/sell-end.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27em;
}

.sell-end-card {
  position: absolute;
  top: 5em;
  left: 15%;
  width: 20em;
  height: 12em;
  z-index: 1_000;
  opacity: 0.95;
}
