<section fxLayout="column" fxLayoutGap="0.8em">
  <app-loading [loading]="loading"></app-loading>
  <div fxLayout fxFlex fxLayoutAlign="center center" fxLayoutGap="0.8em">
    <div fxFlex>
      @if(!router.url.endsWith('/home')) {
      <img src="assets/imgs/click-to-home.png" alt="" style="height: 2em;">
      }
      <img src="assets/imgs/prove-it.png" (click)="gohome()" style="cursor: pointer; height: 2em;" alt="">
      <!--
      <i class="fa-solid fa-house-chimney fa-xl"></i>
      -->
    </div>
    <div>
      Selling
    </div>

    <!-- Top menu buttons -->
    <div><a href="" (click)="scrollTo(basics); false;">Basics</a></div>
    <div><a href="" (click)="scrollTo(business); false;">Business Selling</a></div>
    <div><a href="" (click)="scrollTo(tips); false;">Tips for listing</a></div>
    <div><a href="" (click)="scrollTo(faq); false;">FAQ</a></div>
    <div><a href="">My Favorites</a></div>
    <button mat-raised-button color="primary" (click)="gotoListing()">Sell an item</button>
  </div>

  <div class="draft-img">
    <mat-card class="draft-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Make money selling on Prove You Can</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Sell your items fast -- millions of buyers are waiting.</p>
      </mat-card-content>
      <mat-card-actions style="padding: 1em 0 1.5em 0;" fxLayout fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="gotoListing()">Sell an item</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>

  <!--
  <h2>Drafts (TODO, to replace "Learn the basics" if there were unsaved drafts)</h2>
  -->

  <h2 #basics>Learn the basics</h2>

  <br>
  <div fxLayout fxFlexAlign="space-around center" fxLayoutGap="2em">
    <div fxFlex="auto"></div>
    <mat-card fxFlex="45">
      <mat-card-header>
        <mat-card-title>
          <h2 #business>Selling as a business? We make it easy</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>We've got powerful tools to help you manage your inventory and orders, track your sales, and build your
          brand.</p>
      </mat-card-content>
      <mat-card-actions style="padding: 1em 0 1.5em 0; padding-left: 1em;">
        <button mat-raised-button color="primary" (click)="false" [disabled]="true">Learn more</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
    <div class="sell-as-business" fxFlex="45">
    </div>
    <div fxFlex="auto"></div>
  </div>
  <br>

  <h2 #tips>Create a great listing</h2>
  <p>Here are six ways to set yourself up for success.</p>

  <div fxLayout="column" fxLayoutAlign="center stretch" class="create-list-section">
    <div class="create-list-container" fxFlex #panel fxLayout fxLayoutGap="1em">
      <mat-card fxFlex="none" class="create-list-card color0">
        <mat-card-header>
          <mat-card-title>
            <h2>Selling as a business? We make it easy</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>We'll recommend search terms that buyers often use, so be sure to add these in the title.</li>
            <li>Avoid all caps and focus on specific details like brand, model, size, and color.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="none" class="create-list-card color1">
        <mat-card-header>
          <mat-card-title>
            <h2>Take high-quality photos</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Snap your items from multiple angles in a well-lit place, and capture any blemishes for transparency.
            </li>
            <li>On the Prove You Can app, you can clean up your images and add a white background.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="none" class="create-list-card color2">
        <mat-card-header>
          <mat-card-title>
            <h2>Pick a purchase format</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>If you want to sell your item quickly, Buy it Now is probably the best format for you.</li>
            <li>Otherwise, if you want to try your luck and shoot for the best possible price, choose Auction.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="none" class="create-list-card color3">
        <mat-card-header>
          <mat-card-title>
            <h2>Set the right price</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>We will recommend a price based on recent sales of similar items.</li>
            <li>You can even watch how other sellers are pricing their items, or use Best Offer to negotiate and sell
              faster.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="none" class="create-list-card color4">
        <mat-card-header>
          <mat-card-title>
            <h2>Stand out from the crowd</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Promote your listing and be seen by more buyers with sponsored placements across the Prove You Can network.</li>
            <li>Sell your items faster with Prove You Can's advertising tools.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="none" class="create-list-card color5">
        <mat-card-header>
          <mat-card-title>
            <h2>Ship with ease</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>We provide recommendations for delivery, but to save on shipping, use an Prove You Can delivery label.</li>
            <li>Plus, if you're selling locally, you can also offer Local Pickup.</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
    <!-- `< >` buttons -->
    <!--
    <div class="create-list-button" fxFlex fxLayout fxLayoutAlign="stretch center">
      <div fxFlex="4em" fxLayout="column" fxLayoutAlign="center">
        <button fxFlex="5em" mat-button mat-raised-button [disabled]="isPanelZero" (click)="moveLeft()">
          <div style="font-size: 2em;">
            <i class="fa-solid fa-chevron-left fa-xl"></i>
          </div>
        </button>
      </div>
      <div fxFlex></div>
      <div fxFlex="4em" fxLayout="column" fxLayoutAlign="center">
        <button fxFlex="5em" mat-button mat-raised-button [disabled]="isPanelMax" (click)="moveRight()">
          <div style="font-size: 2em;">
            <i class="fa-solid fa-chevron-right fa-xl"></i>
          </div>
        </button>
      </div>
    </div>
    -->
  </div>

  <h2>Promotions just for you</h2>
  <p>Get the most out of selling on Prove You Can with these deals.</p>


  <section style="background-color: #F7F7F7;">
    <h2 #faq>FAQ</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How much does it cost to sell?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Once your item sells, we generally charge 10-15% of the final value. Your first 250 listings each month are
          free and, after, there's a $0.35 insertion fee per listing. <a target="_blank" matTooltipPosition="above"
            matTooltip="Fees - opens in a new window or tab"
            href="https://www.ebay.com/help/selling/fees-credits-invoices/frais-pour-les-vendeurs-particuliers?id=4822">Learn
            more about fees</a>.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>What's the best way to ship my item?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Prove You Can provides recommendations, but you can choose a preferred shipping carrier. Can't make it to your local
          dropoff? Some offer free "ship from home" pickup. Print your shipping labels with Prove You Can to receive a discount
          from the carriers we work with. If you don't have a printer, we also offer QR codes for Prove You Can labels.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Can I sell locally on Prove You Can?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>When creating your listing, you can offer local pickup by selecting it in shipping details. Once the buyer
          pays, they'll receive a QR code and a 6-digit code, which you can scan or enter with the app to confirm the
          sale.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How much will it cost to ship my item?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can choose the shipping option that offers the greatest value and convenience for you. <a target="_blank"
            matTooltipPosition="above" matTooltip="Shipping - opens in a new window or tab"
            href="https://pages.ebay.com/seller-center/shipping/shipping-services-and-providers.html">Learn more about
            shipping</a>.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Where can I get shipping supplies?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can use any packaging supplies you may already have at home or get free boxes from carriers. For an added
          touch, Prove You Can branded supplies are available to purchase. <a target="_blank" matTooltipPosition="above"
            matTooltip="Prove You Can branded packaging - opens in a new window or tab"
            href="https://www.ebay.com/str/ebayshippingsupplies">Buy Prove You Can branded packaging</a>.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How should I choose my listing price?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>For most items, we can provide a price recommendation for you based on recently sold, similar items. How you
          price your item can depend on how you prefer to sell it—Auction or Buy It Now. Choose a lower starting price
          for
          auctions to create more interest.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How does Prove You Can protect sellers?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We understand that things can happen that are out of your control as a seller. When they do, we have your
          back.
          <a target="_blank" matTooltipPosition="above" matTooltip="Seller Protection - opens in a new window or tab"
            href="https://www.ebay.com/help/policies/selling-policies/seller-protections?id=4345&st=3&pos=1&query=Seller%20protections&intent=seller%20protection&lucenceai=lucenceai&docId=HELP1267#section2">Learn
            more about seller protection</a>.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>What can I sell on Prove You Can?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can sell almost anything, from homemade goods to used or unused items from your closet. We restrict items
          that violate any laws, or infringe on intellectual property.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How do I create an account?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>To get started, select List an item. We’ll help you create and verify your account, and set-up payment
          information during your first listing. Have your preferred payment account details on hand and be ready to
          receive a call or text on your phone for verification.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>When will I get paid?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>After we confirm the buyer's payment has been received, payouts are sent directly to your bank account,
          Monday
          through Friday (excluding bank holidays), within two business days. Once a payout is initiated, funds are
          typically available within 1-3 business days depending on your bank's normal processing time.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Do I have to pay federal income tax on my sales?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Starting on Jan 1, 2022, IRS regulations require all businesses that process payments, including online
          marketplaces like Prove You Can, to issue a Form 1099-K for all sellers who receive $600 or more in sales. The new tax
          reporting requirement may impact your 2022 tax return that you may file in 2023. However, just because you
          receive a 1099-K doesn't automatically mean that you'll owe taxes on the amount reported on your 1099-K. Only
          goods that are sold for a profit are considered taxable, so you won't owe any taxes on something you sell for
          less than what you paid for it. For example, if you bought a bike for $1,000 last year, and then sold it on
          Prove You Can
          today for $700, that $700 you made would generally not be subject to income tax. Check out our
          <a target="_blank" matTooltipPosition="above" matTooltip="1099-K FAQ - opens in a new window or tab"
            href="https://pages.ebay.com/seller-center/service-and-payments/2022-changes-to-ebay-and-your-1099-k.html">1099-K
            FAQ</a> to learn more about these changes.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How does Prove You Can Ads work?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Prove You Can Ads can help you build your business on Prove You Can with effective advertising tools that create a meaningful
          connection between you and Prove You Can's global community of passionate buyers - and help you sell your items faster.
          Stand out among billions of listings on Prove You Can by putting your items in front of interested buyers no matter the
          size of your budget. <a target="_blank" matTooltipPosition="above"
            matTooltip="How does Prove You Can Ads work? - opens in a new window or tab"
            href="https://www.ebay.com/help/selling/listings/promoted-listings-overview?id=5295">Learn More</a>.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <br>

  <div class="sell-end">
    <mat-card class="sell-end-card">
      <mat-card-header>
        <mat-card-title>
          <h2>You've got this. We've got your back.</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions style="padding: 1em 0 1.5em 0;" fxLayout fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="gotoListing()">Sell an item</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxLayout fxLayoutGap="2em">
    <mat-card fxFlex="13em">
      <mat-card-header>
        <mat-card-title>
          <h5 style="margin: 0.5em 0;">Selling on Prove You Can</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <ul style="list-style-type: none; padding: 0.4em; margin: 0;">
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Seller Center - opens in a new window or tab"
              href="https://www.ebay.com/sellercenter">Seller Center</a></li>
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Sell for charity - opens in a new window or tab"
              href="https://www.ebayforcharity.org/get-involved/selling-for-a-charity/">Sell for charity</a></li>
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Business tools - opens in a new window or tab"
              href="https://www.ebay.com/sh/landing">Business tools</a></li>
        </ul>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>

    <mat-card fxFlex="13em">
      <mat-card-header>
        <mat-card-title>
          <h5 style="margin: 0.5em 0;">Support</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <ul style="list-style-type: none; padding: 0.4em; margin: 0;">
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Support - opens in a new window or tab"
              href="https://www.ebay.com/help/selling">Support</a></li>
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Seller policies - opens in a new window or tab"
              href="https://www.ebay.com/help/policies/selling-policies/selling-policies?id=4214">Seller policies</a>
          </li>
          <li><a target="_blank" matTooltipPosition="above" matTooltip="Community - opens in a new window or tab"
              href="https://community.ebay.com/">Community</a></li>
        </ul>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>


</section>
