.end-game-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #242424;
  gap: 1rem;
  margin-top: 1rem;

  &__result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 24rem;
    padding: 0.25rem 1rem;

    border-radius: 5px;

    div.end-game-main__result--win,
    div.end-game-main__result--lose {
      font-size: 1.2rem;
      font-weight: 600;
    }

    p {
      margin: 0;
    }
  }
}

.end-game-main__languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 24rem;

  &--item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #fff;

  }

  .lost {
    @extend .end-game-main__languages--item;
    position: relative;
  }

  .lost::before {
    content: '💀';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: lightgray;
  }
}

.end-game-main__keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 36rem;

  button:disabled {
    cursor: default;
  }
}

.end-game-main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: blueviolet;

  margin: 1rem 0;
}

.end-game-main__word {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &--letter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1px;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 2px solid green;
  }
}
