<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!--                             -->
<!--       My Common Setup       -->
<!--                             -->
   <bean id="commonDAO" class="com.learn.dao.impl.CommonDAOImpl">
      <property name="sessionFactory">
         <ref bean="sessionFactory" />
      </property>   
   </bean>

   <bean id="commonService" class="com.learn.service.impl.CommonServiceImpl">
      <property name="commonDAO">
         <ref bean="commonDAO" />
      </property>
   </bean>
   
<!--                             -->
<!--     Spring Common Setup     -->
<!--                             -->
   <aop:config>
      <aop:pointcut id="serviceOperation" expression="execution(* com..service.*Service.*(..))" />

      <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
   </aop:config>

   <tx:advice id="txAdvice" transaction-manager="transactionManager">
      <tx:attributes>
         <tx:method name="list" read-only="true" />

         <tx:method name="save*" read-only="false" />

         <tx:method name="*" />
      </tx:attributes>
   </tx:advice>

   <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
      <property name="sessionFactory">
         <ref bean="sessionFactory" />
      </property>
   </bean>

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
      <property name="dataSource">
         <ref bean="dataSource" />
      </property>
      
      <property name="configLocation">
         <value>classpath:hibernate.cfg.xml</value>
      </property>
   </bean>

<!-- dataSource to be used for StoredProcedureDAO -->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">  
      <property name="driverClassName">
         <value>oracle.jdbc.driver.OracleDriver</value>
      </property>
       
      <property name="url">
         <value>jdbc:oracle:thin:@localhost:1521:</value>
      </property>

      <property name="username">
         <value>luke</value>
      </property>

      <property name="password">
         <value>luke</value>
      </property>
   </bean>      
   
<!-- For Call back Transaction Management -->
   <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
      <property name="transactionManager" ref="transactionManager" />
   </bean>
   

</beans>
