<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>
    <div th:fragment="footer" style="margin-bottom: 40px; font-size: 1.4em;">
        <footer>
            <!-- this is footer -->
            &copy; 2017 mkyong.com <span sec:authorize="isAuthenticated()"> 
                | Logged user: <span sec:authentication="name"></span> 
                | Roles (Must be inside sec:authorize="isAuthenticated()". Only authenticated user has "principal.authorities"): 
                  <span th:each="item: ${#authentication.authorities}">
                        <span th:text="${item.authority}"></span>
                    </span>
                <!-- 
                <span sec:authentication="principal.authorities"></span> 
                 -->
                | <a th:href="@{/logout}">Sign Out</a> <!-- When POST actions /login or /logout is called, HttpSecurity.formLogin() or HttpSecurity.logout() will be invoked. -->
            </span>

            <!-- bootstrap-4.1.3-dist/js/bootstrap.min.js contains an error -->
            <!--
            <script type="text/javascript" src="/css/bootstrap-4.1.3-dist/js/bootstrap.min.js"
                    th:src="@{/css/bootstrap-4.1.3-dist/js/bootstrap.min.js}"></script>
            -->

        </footer>
    </div>
</body>

</html>