mat-card {
  border: 1px black solid;
}

.child-1 {
  background-color: orange;
}

.child-2 {
  background-color: yellow;
}

.child-3 {
  background-color: green;
}

.child-4 {
  background-color: goldenrod;
}

.container {
  margin: 15px;
  height: 200px;
  border: 2px solid red;
}

div {
  border: 2px blue solid;

  margin: 1em 2em;
  height: 4em;
}
