<section fxLayout="row" fxLayoutAlign="center start">
    <section fxFlex="80" fxLayout="column" fxLayoutAlign="start start" style="border: chocolate dashed 2px;">
        <mat-card fxFlex="25" fxFlexFill class="child-1">1. One</mat-card>
        <mat-card fxFlex="10em" fxFlexFill class="child-2">2. Two</mat-card>
        <mat-card fxFlex="18em" class="child-3">3. Three</mat-card>
        <mat-card fxFlex="auto" fxFlexFill class="child-4">4. Auto</mat-card>
    </section>
</section>

<br>
<hr>
<br>

<section>
    <h3>Align with flex-layout</h3>

    <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 6em; border: 2px lime dashed;">
        <div fxFlex>1111</div>
        <div fxFlex="auto">2222</div>
        <div fxFlex="20">3333</div>
    </div>

</section>