
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10;
    padding: 0;
    background-color: wheat;
}

div.separator {
    border-bottom: 1px solid green;
    margin: 10px 0px; 
    width: 300px;
}

form, table {
    margin: 0;
    padding: 0;
}

form input.focus, form textarea.focus {
    border-color: orange;
    color: #000;
}

form select {
    padding-left: 0px;
}

img.badge {
    border: 0px;
    height: 31px;
    margin-right: 5px;
    width: 88px;
}

p {
    font: 12px/20px;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

span.attention {
    background-color: #0000ff;
}

/* Labels for validation and label tag */
label {
    font-weight: normal;
    cursor: pointer;
    cursor: hand;
}

label.required {
    font-weight: bold;
}

label.error {
    font-weight: bold;
    background-color: red;
}

/* These are the styles for detail screen tables */
table.detail {
    margin-left: 10px;
    padding: 5px;
    font-weight: normal;
}

table.detail th {
    text-align: right;
    padding: 0px 3px 0px 0px;
}

table.detail th.tallCell {
    vertical-align: top;
}

table.detail td {
    text-align: left;
    padding: 0px;
}

table.detail td.moveOptions {
    text-align: center;
    width: 50px;
    padding: 5px;
}

table.detail td.moveOptions button {
    margin-bottom: 3px;
    width: 45px;
    white-space: nowrap;
}

table.detail td.buttonBar {
    padding-top: 10px;
}

table.detail td.updateStatus {
    font-size: 11px;
    color: #c0c0c0;
}

th, td, pre, code {
    font-size: 12px;
}


P.warning          { font-weight: bolder; color: red; background-color: white }

P.warn          { font-weight: bolder; color: red; background-color: white }

.warning           { font-weight: bolder; color: red; background-color: lime }

.warn           { font-weight: bolder; color: red; background-color: lime }

.tableheader       { font-weight: bolder; background-color: #87CEFA }

.menu              { background-color: #FAF0E6 }
.top               { background-color: #7B68EE }
.bottom            { background-color: #FFEFD5 }

table.attribute {
    border-width: 1px;
	border-style: none;
    border-color: grey;
	border-collapse: collapse;
}

table.attribute th {
	font-size: 14px;
	border-width: 1px;
	border-style: inset;
    border-color: grey;
    background-color: #87CEFA;
    vertical-align: top;
    text-align: center;    
}

table.attribute td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;	
	border-width: 1px;
	border-style: inset;
    border-color: grey;
    vertical-align: top;
    text-align: left;
}

table.attribute td.right {
    text-align: right;
}

.required   { background-color: #CCFFCC; }

.changed   { background-color: #FF9933; }

.bold      { font-weight: bold; }

.highlight { background-color: yellow; } 

.uppercase  { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.right      { text-align: right; }
