<section>

  @if(timeInSeconds) {
  <div class="pgss" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5em">
    <div fxFlex class="info" style="text-align: center;">
      <div>{{msg}}.</div>
      @if (displayTime) {
      <div>This may take approximately {{timeInSeconds | number: '1.0-0'}} seconds to complete.</div>
      <div>Please do not leave this page or close this window...</div>
      }
      <div style="margin-top: 0.3em;"></div>
    </div>
    <div fxFlex>{{progressMsg}}
      &nbsp;&nbsp;
      @if(progressValue == 100) {
      <i class="fa-solid fa-spinner fa-spin" style="color: #1E3050;"></i>
      }
    </div>
    <div fxFlex>
      <mat-progress-bar [value]="progressValue"></mat-progress-bar>
    </div>
  </div>
  } @else {
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div fxFlex>
      <i class="fa-solid fa-spinner fa-spin fa-4x" style="color: #1E3050;"></i>
    </div>
    <div fxFlex>
      Submitting...
    </div>
  </div>
  }

</section>
