/* selector {property: value} */
/* http://www.w3schools.com/css/css_reference.asp */

body 
{
   font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : blue;
}

/* paragragh */
p {font-family: "sans serif"}

/* inside paragragh */
p.right {text-align: right}
p.center {text-align: center}

/* grouping */
h1,h2,h3,h4,h5,h6 
{
   color: green
}

/* can be used anywhere */
.center {text-align: center}

input[type="text"] {background-color: green}

/* # applies to id */
#green {color: green}

/* p# applies to id inside paragraph */
p#para1
{
   text-align: center;
   color: red
}

/* position a div */
/* rect (top, right, bottom, left) */
/* clip: rect(0px, 0px, 120px, 265px); */
div#myDivPos
{
   background: url("image/SongJia-01.jpg");
   position: absolute;
   left: 40px;
   top: 90px;
   border:2px solid black;
   color: yellow;
   background-color: green;
   font-weight: bolder;
   font-size : 18px;
}

.codings {
	width: 700px;
	background: #FFFFCC;
	overflow: auto;
	padding: 0px 0px 0px 5px;
	border: 1px solid #999;
}

