<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>Thymeleaf + Security - 400</title>
    <div th:insert="fragments/header :: header-meta"></div>
    <div th:insert="fragments/header :: header-css"></div>
</head>

<body>

    <div th:insert="fragments/header :: header-nav"></div>

    <div class="container">

        <div class="starter-template">
            <h1>400 - Bad Request</h1>

            <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', you do not have permission to access this page.</div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">
        <div th:insert="fragments/footer :: footer"></div>
    </div>

</body>

</html>