.travel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin: 2rem;
}

img.map {
  width: 20rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.travel-info {
  background-color: darkgray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.travel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 30rem;
}

.travel-date {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
}

.travel-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.travel-title {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
}
