<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd 
	                    http://www.springframework.org/schema/tx 
	                    http://www.springframework.org/schema/tx/spring-tx.xsd 
	                    http://www.springframework.org/schema/aop 
	                    http://www.springframework.org/schema/aop/spring-aop.xsd
	                    http://www.springframework.org/schema/jee 
	                    http://www.springframework.org/schema/jee/spring-jee.xsd
	                    http://www.springframework.org/schema/context 
	                    http://www.springframework.org/schema/context/spring-context.xsd        
                        http://www.springframework.org/schema/jdbc 
                        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    
    
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.learn" />

	<context:annotation-config />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.ibm.db2.jcc.DB2Driver</value>
		</property>

		<property name="url">
		    <!-- 
			<value>jdbc:oracle:thin:@(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=eagnmnmed111.usps.gov)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dnav.usps.gov)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETRIES=180)(DELAY=5))))</value>
			 -->
			<value>jdbc:db2://he3lxvd728:50001/SARDDB</value>
		</property>

		<property name="username">
			<value>FIRD02</value>
		</property>

		<property name="password">
			<value>phx#dq318_phx#dq318</value>
		</property>
	</bean>
	
	<!-- 
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg type="javax.sql.DataSource">
			<ref bean="dataSource"></ref>
		</constructor-arg>
	</bean>
	 -->
	
</beans>
