<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

<!-- -->
   <interactiveMode>true</interactiveMode>

<!--
   <proxies>
      <proxy>
         <active>true</active>

         <protocol>http</protocol>

         <host>172.31.1.246</host>

         <port>8080</port>

         <nonProxyHosts>www.google.com|*.somewhere.com</nonProxyHosts>
      </proxy>
   </proxies>


   <proxies>
      <proxy>
         <active>true</active>

         <protocol>http</protocol>

         <host>gateway.nam.coair.com</host>

         <port>80</port>

         <username>nam\se605</username>

         <password>!teamnet1</password>

         <nonProxyHosts>www.google.com|*.somewhere.com</nonProxyHosts>
      </proxy>
   </proxies>
-->
   <profiles>
      <profile>
         <id>myprofile</id>

         <properties>
            <tomcat_deploy.dir>${env.TOMCAT_HOME}/webapps</tomcat_deploy.dir>

            <jboss_deploy.dir>${env.JBOSS_HOME}/server/default/deploy</jboss_deploy.dir>

            <storepass>lukema</storepass>

            <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
         </properties>

         <repositories>
            <repository>
               <id>maven2-repository.dev.java.net</id>

               <url>http://download.java.net/maven/2</url>
            </repository>

            <repository>
               <id>repository.jboss.org</id>

               <name>JBoss Repository</name>

               <url>http://repository.jboss.org/maven2</url>
            </repository>

<!--
            <repository>
               <id>myrepository</id>

               <url>http://localhost:8090/maven2</url>
            </repository>
            -->
         </repositories>

         <pluginRepositories>
            <pluginRepository>
               <id>maven2-repository.dev.java.net</id>

               <url>http://download.java.net/maven/2</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>

   <activeProfiles>
      <activeProfile>myprofile</activeProfile>
   </activeProfiles>

   <pluginGroups>
      <pluginGroup>com.learn</pluginGroup>
   </pluginGroups>
</settings>

