/* @import '../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.scss'; */

.my-progress-bar {
  height: 10px;
  width: 200px;
}

.my-bar-value {
  width: 200px;
  text-align: center;
}

