<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd 
	                    http://www.springframework.org/schema/tx 
	                    http://www.springframework.org/schema/tx/spring-tx.xsd 
	                    http://www.springframework.org/schema/aop 
	                    http://www.springframework.org/schema/aop/spring-aop.xsd
	                    http://www.springframework.org/schema/jee 
	                    http://www.springframework.org/schema/jee/spring-jee.xsd
	                    http://www.springframework.org/schema/context 
	                    http://www.springframework.org/schema/context/spring-context.xsd        
                        http://www.springframework.org/schema/jdbc 
                        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

<!-- ====================== -->
   <import resource="SpringBeanConfig-Common.xml" />

<!-- User Beans Start Here: -->
<!-- User Beans End Here. -->
<!-- ====================== -->
<!-- AOP Starts Here. -->
   <aop:config>
      <aop:pointcut id="userServiceOperation" expression="execution(* com..service.UserService.*(..))" />

      <aop:pointcut id="accessServiceOperation" expression="execution(* com..service.AccessService.*(..))" />

      <aop:advisor pointcut-ref="userServiceOperation" advice-ref="txUserAdvice" />
      
      <aop:advisor pointcut-ref="accessServiceOperation" advice-ref="txAccessAdvice" />
   </aop:config>

   <tx:advice id="txUserAdvice" transaction-manager="transactionManager">
      <tx:attributes>
         <tx:method name="save*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="delete*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="remove*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="update*" read-only="false" rollback-for="AppException" />

         <tx:method name="*" read-only="true" propagation="SUPPORTS" rollback-for="AppException" />
      </tx:attributes>
   </tx:advice>

   <tx:advice id="txAccessAdvice" transaction-manager="transactionManager">
      <tx:attributes>
         <tx:method name="save*" read-only="false" rollback-for="AppException" />

         <tx:method name="shrink*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="delete*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="remove*" read-only="false" rollback-for="AppException" />

         <tx:method name="update*" read-only="false" rollback-for="AppException" />
         
         <tx:method name="*" read-only="true" propagation="SUPPORTS" rollback-for="AppException" />
      </tx:attributes>
   </tx:advice>

<!-- AOP Ends Here. -->

<!-- ====================== -->
</beans>

