<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>

      <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
      <property name="hibernate.connection.password">luke</property>
      <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:</property>
      <property name="hibernate.connection.username">luke</property>
      <property name="hibernate.default_catalog">luke</property>
      <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
 
      <property name="hibernate.connection.autocommit">false</property> 
      <property name="connection.pool_size">10</property>
      <property name="jdbc.fetch_size">10</property>
      <property name="jdbc.use_scrollable_resultset">true</property>
      <property name="current_session_context_class">thread</property>
      <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
      <property name="show_sql">true</property>

<!-- Options for 'hbm2ddl.auto': validate, create-drop, create, update, drop, none. -->
      <property name="hbm2ddl.auto">create-drop</property>
      <property name="hbm2ddl.auto.1">none</property>
      
      <mapping resource="com/learn/bean/Customer.hbm.xml" />
      <mapping resource="com/learn/bean/Portfolio.hbm.xml" />
      <mapping resource="com/learn/bean/PortfolioItem.hbm.xml" />
    
   </session-factory>
</hibernate-configuration>

