<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!-- ====================== -->
   <import resource="SpringBeanConfig-Common.xml" />

<!-- User Beans Start Here: -->
   <bean id="customerDAO" parent="baseProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.learn.dao.CustomerDAO</value>
      </property>

      <property name="target">
         <ref bean="customerDAOTarget" />
      </property>
   </bean>

   <bean id="customerDAOTarget" class="com.learn.dao.impl.CustomerDAOImpl">
      <property name="sessionFactory">
         <ref bean="sessionFactory" />
      </property>
   </bean>

   <bean id="customerService" parent="baseTransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.learn.service.CustomerService</value>
      </property>

      <property name="target">
         <ref bean="customerServiceTarget" />
      </property>

      <property name="transactionAttributes">
         <props>
            <prop key="getCustomer">PROPAGATION_REQUIRED,-AppException</prop>
            
            <prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
         </props>
      </property>
   </bean>

   <bean id="customerServiceTarget" class="com.learn.service.impl.CustomerServiceImpl">
   </bean>

   <bean id="tradeService" parent="baseTransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.learn.service.TradeService</value>
      </property>

      <property name="target">
         <ref bean="tradeServiceTarget" />
      </property>

      <property name="transactionAttributes">
         <props>
            <prop key="buyStock">PROPAGATION_REQUIRED,-AppException</prop>

            <prop key="sellStock">PROPAGATION_REQUIRED,-AppException</prop>

            <prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
         </props>
      </property>
   </bean>

   <bean id="tradeServiceTarget" class="com.learn.service.impl.TradeServiceImpl">
   </bean>

<!-- User Beans End Here. -->
<!-- ====================== -->
</beans>
