<section>
  <div mat-dialog-title style="text-align: right;">
    <button (click)="onNoClick()" style="cursor: pointer;">
      <i class="fa-solid fa-xmark fa-xl" mat-button cdkFocusInitial></i>
    </button>
  </div>
  <div mat-dialog-content style="height: 60em; width: 60em;">
    <div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
      <div fxFlex="none">
        <img [src]="data.imageBase64Data[pos]">
      </div>

      <div fxFlex fxLayout fxLayoutAlign="space-between center" class="overlay">
        <div fxFlex="5em" fxLayout="column" fxLayoutAlign="center">
          <button fxFlex="7em" mat-button mat-raised-button [disabled]="pos == 0" (click)="decrease()">
            <div style="font-size: 3em;">
              <i class="fa-solid fa-chevron-left fa-xl"></i>
            </div>
          </button>
        </div>
        <div fxFlex="auto"></div>
        <div fxFlex="5em" fxLayout="column" fxLayoutAlign="center center">
          <button fxFlex="7em" mat-button mat-raised-button [disabled]="pos == data.imageBase64Data.length - 1"
            (click)="increase()">
            <div style="font-size: 3em;">
              <i class="fa-solid fa-chevron-right fa-xl"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
