<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="https://www.springframework.org/schema/aop"
	xmlns:tx="https://www.springframework.org/schema/tx"
	xmlns:context="https://www.springframework.org/schema/context"
	xmlns:jdbc="https://www.springframework.org/schema/jdbc"
	xmlns:jee="https://www.springframework.org/schema/jee"
	xsi:schemaLocation="https://www.springframework.org/schema/beans
	                    https://www.springframework.org/schema/beans/spring-beans.xsd
	                    https://www.springframework.org/schema/tx
	                    https://www.springframework.org/schema/tx/spring-tx.xsd
	                    https://www.springframework.org/schema/aop
	                    https://www.springframework.org/schema/aop/spring-aop.xsd
	                    https://www.springframework.org/schema/jee
	                    https://www.springframework.org/schema/jee/spring-jee.xsd
	                    https://www.springframework.org/schema/context
	                    https://www.springframework.org/schema/context/spring-context.xsd
                      https://www.springframework.org/schema/jdbc
                      https://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.learn" />

	<context:annotation-config />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg type="javax.sql.DataSource">
			<ref bean="dataSource"></ref>
		</constructor-arg>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceLocal" />
		</property>

		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:postgresql://database-qa.adpt-tech.net:5432/RialtoMarket</value>
		</property>
		<property name="username">
			<value>rmAdmin</value>
		</property>
		<property name="password">
			<value>rmAdmin</value>
		</property>
	</bean>

	<bean id="dataSourceLocal"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:postgresql://localhost:5432/test</value>
		</property>
		<property name="username">
			<value>luke</value>
		</property>
		<property name="password">
			<value>luke</value>
		</property>
	</bean>
</beans>
