/target/
/.idea/
/test-output/
/.classpath
/.project
/.subversion
/.settings/
/.gem/
/tmp/
/.apt_generated/
.bashrc
.bash_history
**/*.iml
/.viminfo
/.kube/
/.cache/
/.docker/
**/1.txt
**/.gradle
**/.gradle/**
