@mixin myPanel() {
  .mat-dialog-container {
    background-color: lightskyblue;
    overflow: hidden;
  }
}

.myapp-dialog {
  @include myPanel();

  .mat-dialog-container {
    padding: 0 0 34px 0;
  }
}

.mat-icon-close {
  cursor: pointer;
  color: white;
  margin: 0.4em;
}

span.vcenter {
  display: inline-flex;
  align-items: center;
}

button {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
