<section>
  <div fxLayout="row" style="color: white; background-color: darkblue;">
    <span fxFlex="auto" class="vcenter" style="padding: 0.4em 0.5em;">{{cancelConfirmDialogData.title}}</span>
    <span fxFlex="none" class="vcenter mat-icon-close">
      <i class="fa-solid fa-rectangle-xmark fa-xl" (click)="close(true)"></i>
    </span>
  </div>

  <mat-dialog-content>
    <p style="padding: 0 0.5em; color: black;">{{cancelConfirmDialogData.content}}</p>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button fxFlex="none" mat-raised-button style="margin-right:2em;"
      (click)="cancel()">{{cancelConfirmDialogData.cancelButtonLabel}}</button>
    <button fxFlex="none" mat-raised-button color="primary"
      (click)="confirm()">{{cancelConfirmDialogData.confirmButtonLabel}}</button>
  </mat-dialog-actions>
</section>
