
.duplicated-class {
  width: 160px;
  height: 40px !important;
  margin: 0px auto;
  padding: 5px;
  border: 2px dashed blue;
  background-color: lightgreen !important;
}

.duplicated-class {
  height: 140px;
  background-color: lightblue !important;
}


