<section fxLayout="column">
  <app-loading [loading]="loading"></app-loading>

  @if(recentViewed && recentViewed.length > 0) {
  <h2>Your Recently Viewed Items</h2>
  }

  <form [formGroup]="formGroup" fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5em" style="width: 80%;">
    <span fxFlex="none" style="text-align: right;">
      Search for anything
    </span>

    <input style="width: 55%;" type="text" matInput appearance="outline" formControlName="searchText"
      (keyup.enter)="onSubmit()" (keyup)="onKeyUp()">

    <button mat-raised-button color="primary" (click)="onSubmit()" style="padding-top: 0.5em; padding-bottom: 0.5em;">
      Search
    </button>
  </form>

  <h2>Today's Deals – All With Free Shipping</h2>

  @if(items && items.length > 0) {
  <div fxLayout fxLayoutAlign="start center">
    <div fxFlex="2em" fxLayout="column" fxLayoutAlign="center">
      <button fxFlex="7em" mat-button mat-raised-button (click)="decrease()">
        <div style="font-size: 2em;">
          <i class="fa-solid fa-chevron-left fa-xl"></i>
        </div>
      </button>
    </div>
    <div fxFlex class="carousel_container" #panel>
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1em">
        @for(item of items; track item) {
        <div fxFlex="none" class="snap-view" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.2em"
          (click)="gotoItem(item.id)">
          <div class="div-img" fxLayout fxLayoutAlign="start center" matTooltipPosition="above"
            [matTooltip]="item.title">
            <img [src]="imageUrlPrefix + '/' + item.imageFileNames![0]">
          </div>
          <div class="title multiline-ellipsis" matTooltipPosition="above" [matTooltip]="item.title">{{item.title}}
          </div>
          <div style="padding-bottom: 0.5em;">{{item.price | currency}}</div>
        </div>
        }
      </div>
    </div>
    <div fxFlex="2em" fxLayout="column" fxLayoutAlign="center center">
      <button fxFlex="7em" mat-button mat-raised-button (click)="increase()">
        <div style="font-size: 2em;">
          <i class="fa-solid fa-chevron-right fa-xl"></i>
        </div>
      </button>
    </div>
  </div>
  }

</section>
