$width: 16em;

.snap-view {
  width: $width;
  height: $width + 5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  cursor: pointer;

  img {
    max-width: $width;
    max-height: $width;
    border-radius: 0.4em;
  }

  display: flex;
  flex-direction: column;

  .div-img {
    height: $width;
    background-color: #F2F2F2;
    border-radius: 1em;
  }
}

/* The animation code */
@keyframes example {
  from {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: darkgreen;
    left: 200px;
    top: 0px;
    transform: rotate(20deg);
  }

  50% {
    background-color: blue;
    left: 200px;
    top: 50px;
    transform: skew(40deg, 10deg);
  }

  75% {
    background-color: green;
    left: 0px;
    top: 50px;
    transform: skew(60deg, 20deg);
  }

  to {
    background-color: red;
    left: 0px;
    top: 0px;
    transform: rotate(70deg);
  }
}

/* The element to apply the animation to */
#animation-test-1 {
  width: 140px;
  height: 50px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}


$section-height: 24em;

.carousel_container {
  padding: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  height: $section-height;
  /** width: 100%; */
  border: 1px black dotted;
  border-radius: 1.2em;
}
