.enabled {
  font-weight: bold;
}

.disabled {
  font-weight: normal;
}

/*
.dark-mode {
  :host(body) {
    color: white !important;
    background-color: black !important;
  }
}

.normal-mode {
  :host(body) {
    color: black !important;
    background-color: lightgrey !important;
  }
}
*/
