.open-ai-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px dashed blue;

  box-shadow: 2px 3px 8px 2px #935858;

  img {
    height: 4rem;
  }
}
