div,
p {
    border: 2px blue solid;
}

div,
p {
    margin: 1em 2em;
    height: 4em;
}

p {
    text-align: center;
}

.div-text-align {
    text-align: center;
}

.div-margin-auto {
    display: table;
    margin: 0 auto;
}

.flex-justify-content {
    display: flex;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    align-items: center;
}

.flex-horizontal-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
