<!DOCTYPE HTML>
<html>
<head>
<title>Angular JS Custom Filter</title>
</head>

<body>
	<h2>AngularJS Sample Application</h2>

	<div data-ng-app="app">
		<div data-ng-controller="PersonCtrl as person">
			<p>{{ person.username | makeUppercase }}</p>

			<ul>
				<li data-ng-repeat="friend in person.friends | startsWithA">{{ friend.name }}</li>
			</ul>

			<h3>With Custom Filter</h3>
			
			<input type="number" class="form-control" placeholder="Search here"
				data-ng-model="priceterm" /> <br />

			<table class="table">
				<tr data-ng-repeat="product in person.products | priceGreaterThan : priceterm">
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
				</tr>
			</table>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

	<script>
		const app = angular.module('app', []);

		// filter method, creating `makeUppercase` a globally
		// available filter in our `app` module
		app.filter('makeUppercase', function() {
			// function that's invoked each time Angular runs $digest()
			// pass in `item` which is the single Object we'll manipulate
			return function(item) {
				// return the current `item`, but call `toUpperCase()` on it
				return item.toUpperCase();
			};
		});

		app.filter('startsWithB', function() {
			return function(items) {
				return items.filter(function(item) {
					return /b/i.test(item.name.substring(0, 1));
				});
			};
		});
		
		app.filter('startsWithA', function () {
			return function(items) {
				
				const filtered = [];
				
				items.forEach(function(item) {
					if (/a/i.test(item.name.substring(0, 1))) {
						filtered.push(item);
					}
				});

				return filtered;
			};
		});
		
		app.filter('priceGreaterThan', function() {
			return function(items, price) {
				
				if(!price || isNaN(price)) {
					return items;
				} else {
					const filtered = [];
					
					items.forEach(function(item) {
						if (item.price > price) {
							filtered.push(item);
						}
					});
					
					return filtered;
				}
			};
		});

		app.controller('PersonCtrl', function() {
			this.username = 'Todd Motto';

			this.friends = [ {
				name : 'Andrew'
			}, {
				name : 'Will'
			}, {
				name : 'Mark'
			}, {
				name : 'Alice'
			}, {
				name : 'Todd'
			} ];

			this.products = [ {
				'name' : 'pen',
				'price' : '200'
			},

			{
				'name' : 'pencil',
				'price' : '400'
			},

			{
				'name' : 'book',
				'price' : '2400'
			},

			{
				'name' : 'ball',
				'price' : '400'
			},

			{
				'name' : 'eraser',
				'price' : '1200'
			}, ];
		});
	</script>

</body>
</html>
