<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>
        ### %d{yyyy-MM-dd HH:mm:ss} [%-5p] %c\(%L\) %M\(\) %n%m%n
      </pattern>
    </encoder>
  </appender>

  <!-- Start: app logs -->
  <logger name="com.learn" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.frb" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: app logs -->

  <!-- Start: spring tuning logs -->
  <logger name="org.springframework" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.core" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.cache" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.beans" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.test" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.boot.diagnostics" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- Start: transaction level/propagation -->
  <!-- trace for message -->
  <logger name="org.springframework.transaction" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- Start: transaction level/propagation -->

  <!-- Start: trace for /css/**, /js/**, /image/**, /**/swagger-ui/**, /webjars/**, /** -->
  <!-- Patterns [/css/**, /js/**, /image/**, /**/swagger-ui/**, /webjars/**, /**] in
  'resourceHandlerMapping' -->
  <logger name="org.springframework.web" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: trace for /css/**, /js/**, /image/**, /**/swagger-ui/**, /webjars/**, /** -->

  <!-- Start: hasAnyRole permitAll -->
  <!-- debug for role mappings -->
  <logger name="org.springframework.security.web" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.security.access" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: hasAnyRole permitAll -->

  <!-- Start: url Filter mapping -->
  <!-- debug -->
  <logger name="org.springframework.boot.web" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: url Filter mapping -->

  <logger name="org.springframework.context" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- trace for /actuator/** endpoints -->
  <logger name="org.springframework.boot.context" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- trace for /actuator/** endpoints -->
  <logger name="org.springframework.boot.actuate" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- trivial -->
  <logger name="org.springframework.boot.autoconfigure" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.data" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.aop" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.springframework.validation.beanvalidation" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: spring tuning logs -->

  <!-- Start: JDBC SQL logs -->
  <logger name="org.springframework.jdbc.core" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: JDBC SQL logs -->

  <!-- Start: JPA SQL logs -->
  <!-- Change org.hibernate.SQL level to debug to see SQL -->
  <logger name="org.hibernate.SQL" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- Change org.hibernate.type level to trace to display SQL parameters -->
  <logger name="org.hibernate.type" level="trace" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.EnumType" level="trace" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.BasicTypeRegistry" level="warn" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.descriptor.jdbc.spi.JdbcTypeRegistry" level="warn" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.TypeFactory" level="trace" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="warn" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="warn" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="org.hibernate.orm.jdbc.bind" level="trace" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!--
  <logger name="org.hibernate" level="trace" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
   -->
  <!-- End: JPA SQL logs -->

  <!-- Start: undefined logs -->
  <logger name="com" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="com.openpojo" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- End: undefined logs -->

  <!-- com.zaxxer is for HikariCP (Hikari Connection Pool)
  (https://www.baeldung.com/spring-boot-hikari) -->
  <!-- https://github.com/brettwooldridge/HikariCP#configuration-knobs-baby -->
  <!-- In Spring Boot 1, Tomcat JDBC Connection Pool is the default DataSource implementation -->
  <!-- In Spring Boot 2, Hikari is the default DataSource implementation -->
  <logger name="com.zaxxer" level="info" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <!-- tomcat pool -->
  <logger name="org.apache.catalina.session" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- com.ulisesbocchio is for Jasypt Spring Boot Encryption -->
  <logger name="com.ulisesbocchio" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org.hsqldb" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- root -->
  <root level="error" additivity="false">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
