<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta charset="ISO-8859-1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-cache" http-equiv="Pragma" />
<meta http-equiv="EXPIRES" content="0" />
<!-- X-UA-Compatible: tells the Internet Explorer to display the page in the highest mode available -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- viewport: to enable touch zooming and ensure proper rendering on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Spring Boot Thymeleaf + Spring Security</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>

</html>