<div id="pageLogin">
    <h1>TestProject Example page</h1>
    <p>This is the TestProject playground website. Feel free to play around it :)</p>
    <form class="needs-validation" novalidate="" onsubmit="return false">
        <div class="form-group">
            <label>Full Name:</label>
            <div class="tp-input-wrapper">
                <input id="fullname" type="text" name="fullname" class="form-control" placeholder="Enter your full name"
                    [(ngModel)]="fullname" title="Enter your full name" required="true" (keyup.enter)="performLogin()">
                <div class="invalid-feedback">Please provide your full name</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <div class="tp-input-wrapper">
                <input id="password" type="password" name="password" class="form-control"
                    placeholder="Enter your password" [(ngModel)]="password" title="Enter your password" required="true"
                    (keyup.enter)="performLogin()">
                <div id="passwordHelp" class="form-text text-muted">Hint: password is 12345</div>
                <div *ngIf="error">{{error}}</div>
            </div>
        </div>
        <div class="form-group tp-align-right">
            <button class="btn btn-primary tp-button tp-blue" id="login" (click)="performLogin()">
                Login
            </button>
        </div>
    </form>
</div>