<section>
  <h3>Google Map https://medium.com/swlh/angular-google-map-component-basics-and-tips-7ff679e383ff </h3>

  <div fxLayout fxLayoutAlign="center">
    <google-map width="70vw" height="50vh" [options]="mapOptions">
      <!-- 1. Simplest -->
      <!--
      <map-marker [position]="marker.position"></map-marker>
      -->
      <!-- 2. Multi markers -->
      <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>
      <!-- 3. Street view -->

    </google-map>
  </div>

</section>
