<section fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1em">
  <app-loading [loading]="loading"></app-loading>

  <div fxLayout fxFlex fxLayoutAlign="center center" fxLayoutGap="0.8em">
    <div fxFlex="none">
      @if(!router.url.endsWith('/home')) {
      <img src="assets/imgs/click-to-home.png" alt="" style="height: 2em; background-color: black;">
      }
      <img src="assets/imgs/prove-it.png" (click)="gohome()" style="cursor: pointer; height: 2em;" alt="">
      <!--
      <i class="fa-solid fa-house-chimney fa-xl"></i>
      -->
    </div>
    <div fxFlex="none">
      Checkout
    </div>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="0.8em" class="paypal">
    <img src="assets/imgs/PayPal.svg.png" style="height: 2em;">
    <div>
      Buy with PayPal. It's fast and simple.
    </div>
  </div>

  <form [formGroup]="formGroup" fxLayout fxLayoutAlign="start start" fxLayoutGap="2em">
    <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2em">

      <div fxFlex></div>

      <fieldset fxFlex>
        <legend>Pay with</legend>

        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0" formControlName="selectedPayWith"
          (change)="payMethodChange($event)">
          <div fxFlex class="th">
            <mat-radio-button value="saved">
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <img fxFlex="none" src="assets/imgs/visa-logo.png" style="height: 3em;">
                <div fxFlex="auto">
                  x-1234
                </div>
              </div>
            </mat-radio-button>
          </div>
          <div fxFlex class="tr">
            <mat-radio-button value="addnewcard">
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em">
                <div fxFlex="auto">
                  Add new card (TODO)
                </div>
                <div fxFlex fxLayout fxLayoutAlign="start start" fxLayoutGap="0.5em">
                  <img fxFlex="none" src="assets/imgs/visa-logo.png" style="height: 2em;">
                  <img fxFlex="none" src="assets/imgs/mc-logo.png" style="height: 2em;">
                  <img fxFlex="none" src="assets/imgs/discover-logo.png" style="height: 2em;">
                  <img fxFlex="none" src="assets/imgs/amex-logo.png" style="height: 2em;">
                </div>
              </div>
            </mat-radio-button>
          </div>
          <div fxFlex class="tr">
            <mat-radio-button value="paypal">
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <img fxFlex="none" src="assets/imgs/pp-logo.png" style="height: 3em;">
                <div fxFlex="auto">
                  PayPal
                </div>
              </div>
            </mat-radio-button>
          </div>
          <div fxFlex class="tr">
            <mat-radio-button value="paypalcredit">
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <img fxFlex="none" src="assets/imgs/pp-credit-logo.png" style="height: 3em;">
                <div fxFlex="auto">
                  <div>Specal financing available.</div>
                  <div>Apply now</div>
                </div>
              </div>
            </mat-radio-button>
          </div>
          <div fxFlex class="tr">
            <mat-radio-button class="example-radio-button" value="googlepay">
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <img fxFlex="none" src="assets/imgs/gpay-logo.png" style="height: 3em;">
                <div fxFlex="auto">
                  Google Pay
                </div>
              </div>
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </fieldset>

      <fieldset fxFlex>
        <legend>Ship to</legend>

        <div>Xianliu Ma</div>
        <div>108 Apple Blossom Way</div>
        <div>Gaithersburg, MD 20878-1165</div>
        <div>United States</div>
        <div>(703) 389-1950</div>

        <div><a href="" (click)="false;">Change</a></div>

      </fieldset>

      <fieldset fxFlex>
        <legend>Review item and shipping</legend>

        <div>
          Seller: {{nmsService.getDispalyName(item.sellerUsername ? item.sellerUsername : '')}} | <a href=""
            (click)="false;">Message to seller</a>
        </div>

        <div style="height: 1em;"></div>

        <div fxLayout fxLayoutAlign="start start" fxLayoutGap="1em">
          <div fxFlex="none">
            <img [src]="imageUrlPrefix + '/' + imageFileName" alt="" style="width: 6em;">
          </div>

          <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
            <div>{{item.title}}</div>

            <div>US {{totalPrice | currency}}</div>

            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1em">
              <div>
                Quantity:
              </div>
              <input type="text" matInput appearance="outline" formControlName="quantity" maxlength="5"
                (keyup.enter)="onSubmit()" (keyup)="onKeyUpNumber($event)" style="width: 3em;">
              <a href="" (click)="update(); false;">Update</a>
            </div>

            <div>Returns accepted</div>

            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
              <div>
                Delivery
              </div>

              <mat-radio-group fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2em"
                formControlName="shippingCost" (change)="shippingChange($event)">
                <mat-radio-button [value]="0">
                  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em">
                    <div fxFlex="auto" style="font-weight: bolder;">
                      Free Standard Shipping
                    </div>
                    <div>
                      Est. delivery: {{freeDeliveryDateFrom | date : 'MMM d'}} - {{freeDeliveryDateTo | date : 'MMM d'}}
                    </div>
                  </div>
                </mat-radio-button>
                <mat-radio-button [value]="5.99">
                  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em">
                    <div fxFlex="auto">
                      USPS Priority Mail
                    </div>
                    <div>
                      Est. delivery: {{fastDeliveryDateFrom | date : 'MMM d'}} - {{fastDeliveryDateTo | date : 'MMM d'}}
                    </div>
                    <div>
                      {{5.99 | currency}}
                    </div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div fxFlex="30em" class="confirm" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5em">
        <div fxFlex fxLayout fxLayoutAlign="space-between start">
          <div fxFlex>Item({{quantity}})</div>
          <div fxFlex style="text-align: right;">{{totalPrice | currency}}</div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="space-between start">
          <div fxFlex>Shipping</div>
          @if(shippingCost == 0) {
          <div fxFlex style="text-align: right;">Free</div>
          } @else {
          <div fxFlex style="text-align: right;">{{shippingCost | currency}}</div>
          }
        </div>
        <div fxFlex fxLayout fxLayoutAlign="space-between start">
          <div fxFlex>Tax*</div>
          <div fxFlex style="text-align: right;">{{(totalPrice * taxRate) | currency}}</div>
        </div>
        <hr style="width: 100%;">
        <div fxFlex fxLayout fxLayoutAlign="space-between start" style="font-weight: bolder; font-size: larger;">
          <div fxFlex>Order total</div>
          <div fxFlex style="text-align: right;">{{(totalPrice * (1 + taxRate) + shippingCost) | currency}}</div>
        </div>
      </div>

      <div fxFlex style="padding: 1em; background-color: #F7F7F7; border: 0.2px solid darkgray;">
        <div>
          By placing your order, you agree to eBay's
          <a href="https://pages.ebay.com/help/policies/user-agreement.html" target="_blank" matTooltipPosition="above"
            matTooltip="User Agreement - opens in a new window or tab">User
            Agreement</a>
          and
          <a href="https://pages.ebay.com/help/policies/privacy-policy.html" target="_blank" matTooltipPosition="above"
            matTooltip="Privacy Notice - opens in a new window or tab">Privacy Notice</a>.
        </div>
        <div style="height: 0.5em;"></div>
        <div>
          *We're required by law to collect sales tax and applicable fees for certain tax authorities.
          <a href="https://www.ebay.com/help/buying/paying-items/paying-tax-ebay-purchases?id=4771&amp;st=2&amp;pos=2&amp;query=Paying%20tax%20on%20eBay%20purchases&amp;intent=tax"
            target="_blank" matTooltipPosition="above" matTooltip="Learn more - opens in a new window or tab">Learn
            more</a>
        </div>
      </div>

      <div fxLayout fxLayoutAlign="center center">
        <button style="width: 85%;" mat-raised-button color="primary"
          (click)="confirmAndBuy();$event.preventDefault();false;" [disabled]="formGroup.invalid"
          matTooltipPosition="above" matTooltip="TODO: To be implemented.">

          @if(selectedPayWith == 'saved') {
          <div>
            Confirm and pay
          </div>
          } @else if (selectedPayWith == 'addnewcard') {
          <div>
            Confirm and pay
          </div>
          } @else if (selectedPayWith == 'paypal') {
          <div>
            Pay with <em><i>PayPal</i></em>
          </div>
          } @else if (selectedPayWith == 'paypalcredit') {
          <div>
            Pay with <em><i>PayPal CREDIT</i></em>
          </div>
          } @else if (selectedPayWith == 'googlepay') {
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="1em">
            <div fxFlex="none">
              Buy with
            </div>
            <img fxFlex="none" src="assets/imgs/gpay-logo.png" style="height: 2.5em;">
          </div>
          }

        </button>
      </div>

      <hr style="width: 100%;">

      <div>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="1em">
          <img src="assets/imgs/prove-it.png" style="cursor: default; height: 2em;" alt="">
          <div>
            MONEY BACK GUARANTEE
          </div>
        </div>

        <div fxLayout fxLayoutAlign="center center">
          <a href="https://pages.ebay.com/ebay-money-back-guarantee/" target="_blank" matTooltipPosition="above"
            matTooltip="See details - opens in a new window or tab">
            See details
          </a>
        </div>
      </div>

    </div>
  </form>
</section>
