.paypal {
  border: 0.5px solid black;
  border-radius: 3px;
  background-color: #C5E5FB;
  padding: 8px;
}

.th {
  width: 100%;
  border: 0.5px solid black;
  padding: 0.5em;
}

.tr {
  width: 100%;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 0.5em;
}

.confirm {
  border: 0.5px inset black;
  padding: 1em;
}

button {
  padding-top: 8px;
  padding-bottom: 8px;
}
