<section>
  <nav>
    <a routerLink="home" routerLinkActive="active">(eager) Home</a>
    &nbsp;|&nbsp;
    <a routerLink="flux-demo" routerLinkActive="active">Flux Demo</a>
    &nbsp;|&nbsp;
    <a routerLink="flux2-demo" routerLinkActive="active">Flux2 Demo</a>
    &nbsp;|&nbsp;
    <a routerLink="form" routerLinkActive="active">Form (Promise/Obervable)</a>
    &nbsp;|&nbsp;
    <a routerLink="my-http" routerLinkActive="active">MyHttp (Promise/Obervable)</a>
    &nbsp;|&nbsp;
    <a routerLink="fieldset" routerLinkActive="active">FieldSet</a>
    &nbsp;|&nbsp;
    <a routerLink="my-primeng" routerLinkActive="active">PrimeNG Messages</a>
    &nbsp;|&nbsp;
    <a routerLink="my-primeng-table" routerLinkActive="active">PrimeNG Table</a>
    &nbsp;|&nbsp;
  </nav>
  <nav>
    <a routerLink="my-mat-progress-bar" routerLinkActive="active">Mat Progress Bar</a>
    &nbsp;|&nbsp;
    <a routerLink="my-mat-table" routerLinkActive="active">Mat Table</a>
    &nbsp;|&nbsp;
    <a routerLink="my-google-map" routerLinkActive="active">Google Map</a>
    &nbsp;|&nbsp;
    <a routerLink="observable" routerLinkActive="active">Observable</a>
    &nbsp;|&nbsp;
    <a routerLink="promise" routerLinkActive="active">Promise</a>
    &nbsp;|&nbsp;
    <a routerLink="file-upload-download" routerLinkActive="active">File Upload/Download</a>
    &nbsp;|&nbsp;
    <a routerLink="modal-dialog-demo" routerLinkActive="active">Modal/Dialog Demo</a>
    &nbsp;|&nbsp;
  </nav>
  <nav>
    <a routerLink="window-size" routerLinkActive="active">Window Size</a>
    &nbsp;|&nbsp;
    <a routerLink="injectable" routerLinkActive="active">Injectable/DomSanitizer Demo &nbsp;<span
        style="font-weight: bold;">({{myInjectable.globalNumber}})</span></a>
    &nbsp;|&nbsp;
    <a routerLink="my-leaflet" routerLinkActive="active">Leaflet</a>
    &nbsp;|&nbsp;
    <a routerLink="center" routerLinkActive="active">(lazy) Center</a>
    &nbsp;|&nbsp;
    <a routerLink="contact" routerLinkActive="active">(eager) Contact</a>

  </nav>

  <hr>
  <div>
    <span style="font-weight: bold;">flux: ({{(fluxData | async)?.counter}})</span>
    &nbsp;
    <span style="font-weight: bold;">flux2: ({{(flux2Data | async)?.counter}})</span>
  </div>
  <hr />

  <p-menubar [model]="menuItems"></p-menubar>
</section>
