<mat-card>
  <mat-card-content fxLayout fxLayoutAlign="end">
    <section fxLayout fxLayoutAlign="end" fxLayoutGap="0.2em" (click)="toggleDarkMode()"
      matTooltipPosition="above" matTooltip="Toggle Light/Dark Theme" style="cursor: pointer;">
      <div>
        @if(darkMode) {
        <span>Light Mode</span>
        } @else {
        <span>Dark Mode</span>
        }
      </div>
      <div fxFlex="2em" [class.isActive]="!darkMode">
        <i class="fa-regular fa-sun fa-lg"></i>
      </div>
      <!--
      <mat-slide-toggle (change)="toggleDarkMode()"></mat-slide-toggle>
      -->
      <div fxFlex="2em" [class.isActive]="darkMode">
        <i class="fa-regular fa-moon fa-lg"></i>
      </div>
    </section>
  </mat-card-content>
</mat-card>
