<section>

    <h3>Global Public Injectable and DomSanitizer</h3>

    <div>
        myInjectable.globalNumber: {{myInjectable.globalNumber}}
    </div>

    <br>

    <div>
        <button type="button" (click)="deduct()">Subtract (-)</button>
        <button type="button" (click)="add()" style="margin-left: 2em;">Add (+)</button>
    </div>

    <br>

    <!--
    <div [innerHTML]="myHtml">innerHTML</div>
    -->

    <div [innerHTML]="originalHtml | byPassSecurity">innerHTML</div>

</section>
