<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN" monitorInterval="30" strict="true"
	includeLocation="true">
	<Properties>
		<Property name="log-path">${log4j2.dir}</Property>
		<Property name="log-file">e911-example-roll</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="#### %d{yyyy-MM-dd HH:mm:ss} [%-5p] %c(%L) %M() %n%m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${log-path}/${log-file}.log"
			filePattern="${log-path}/${log-file}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="#### %d{yyyy-MM-dd HH:mm:ss} [%-5p] %c(%L) %M() %n%m%n" />
			<Policies>
			    <TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
		<Async name="ASYNC">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="RollingFile" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="com" level="trace" additivity="false">
			<AppenderRef ref="${log4j2.appender}" />
		</Logger>
		<Logger name="org.apache" level="info" additivity="false">
			<AppenderRef ref="${log4j2.appender}" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>
