<!--The content below is only a placeholder and can be replaced.-->
<section class="mat-app-background content-screen" fxLayout="column" fxLayoutAlign="start stretch">
  <app-loading [loading]="loading"></app-loading>
  <app-toggle-dark-mode-mat class="togggle-dark-mode"></app-toggle-dark-mode-mat>

  @if (!isInSellingPage) {
  <div fxFlex="none" fxLayout fxLayoutAlign="center center" fxLayoutGap="1em">

    <div>
      @if(!router.url.endsWith('/home')) {
      <img src="assets/imgs/click-to-home.png" alt="" style="height: 2em;">
      }
      <img src="assets/imgs/prove-it.png" (click)="gohome()" style="cursor: pointer; height: 2em;" alt="">
      <!--
      <i class="fa-solid fa-house-chimney fa-xl"></i>
      -->
    </div>

    <!--
      <app-top-nav></app-top-nav>
      -->

    <!-- Animals -->
    <!--
    <div>
      <button mat-button #myAnymals [matMenuTriggerFor]="animals" (mouseenter)="openMenuAnimals()"
        (mouseleave)="closeMenuAnimals()">
        <i class="fa-solid fa-hippo"></i>
        Animal index
      </button>
      <mat-menu #animals="matMenu" overlapTrigger="false" [hasBackdrop]="false">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </section>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </section>
      </mat-menu>

      <mat-menu #invertebrates="matMenu">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </section>
      </mat-menu>

      <mat-menu #fish="matMenu">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </section>
      </mat-menu>

      <mat-menu #amphibians="matMenu">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </section>
      </mat-menu>

      <mat-menu #reptiles="matMenu">
        <section (mouseenter)="openMenuAnimals()" (mouseleave)="closeMenuAnimals()">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </section>
      </mat-menu>
    </div>
     -->

    <div style="width: 3em;"></div>

    <div>Hi</div>

    @if(!username) {
    <div><a routerLink="/signin" routerLinkActive="active">Sign in</a></div>
    <div>or</div>
    <div><a routerLink="/register" routerLinkActive="active">Register</a></div>
    } @else {
    <!-- User Profile -->
    <button mat-button #menuProfile [matMenuTriggerFor]="profile" (mouseenter)="openMenuProfile()"
      (mouseleave)="closeMenuProfile()">
      <i class="fa-regular fa-user fa-md"></i>
      {{firstname}}!
    </button>
    <mat-menu #profile="matMenu" overlapTrigger=false [hasBackdrop]="false">
      <section (mouseenter)="openMenuProfile()" (mouseleave)="closeMenuProfile()">
        <button mat-menu-item disabled>
          <i class="fa-regular fa-id-card"></i>Profile
        </button>
        <button mat-menu-item (click)="logout()">
          <i class="fa fa-sign-out"></i>Sign Out
        </button>
      </section>
    </mat-menu>
    }

    <!-- Sell -->
    @if(username) {
    <button mat-stroked-button color="primary" (click)="gotoSell()">
      Sell
    </button>
    } @else {
    <button mat-stroked-button color="primary" (click)="gotoSell()" matTooltipPosition="above"
      matTooltip="You need to signin to sell an item. Click to go to signin page.">
      Sell
    </button>
    }

    <!-- Watchlist -->
    <div>
      <button mat-button #menuWatchlist [matMenuTriggerFor]="watchlist" (mouseenter)="openMenuWatchlist()"
        (mouseleave)="closeMenuWatchlist()">
        Watchlist
      </button>
      <mat-menu #watchlist="matMenu" overlapTrigger=false [hasBackdrop]="false">
        <section (mouseenter)="openMenuWatchlist()" (mouseleave)="closeMenuWatchlist()">
          <button mat-menu-item [disabled]="false">Watchlist</button>
        </section>
      </mat-menu>
    </div>

    <!-- My Prove You Can -->
    <div>
      <button mat-button #menuMyEBay [matMenuTriggerFor]="myebay" (mouseenter)="openMenuMyEBay()"
        (mouseleave)="closeMenuMyEBay()">
        My Favorites
      </button>
      <mat-menu #myebay="matMenu" overlapTrigger=false [hasBackdrop]="false">
        <section (mouseenter)="openMenuMyEBay()" (mouseleave)="closeMenuMyEBay()">
          <button mat-menu-item [disabled]="true">Summary</button>
          <button mat-menu-item [disabled]="true">Recently Viewed</button>
          <button mat-menu-item [disabled]="true">Bids/Offers</button>
          <button mat-menu-item [disabled]="true">Watchlist</button>
          <button mat-menu-item [disabled]="true">Purchase History</button>
          <button mat-menu-item [disabled]="true">Buy Again</button>
          <button mat-menu-item (click)="toSelling()">Selling</button>
          <button mat-menu-item [disabled]="true">Saved Searches</button>
          <button mat-menu-item [disabled]="true">Saved Sellers</button>
          <button mat-menu-item [disabled]="true">My Garage</button>
          <button mat-menu-item [disabled]="true">Messages</button>
          <button mat-menu-item [disabled]="true">Collection Beta</button>
          <button mat-menu-item [disabled]="true">The Proof vault</button>
        </section>
      </mat-menu>
    </div>

    <div><i class="fa-regular fa-bell fa-lg"></i></div>
    <app-shopping-cart fxFlex="none"></app-shopping-cart>
  </div>
  }

  <div fxFlex="none" style="height: 10px;"></div>

  @if(displayOverlayForDarkModeTest) {
  <!-- This block is to test Dark Mode -->
  <section class="dark-mode-test-area" fxFlex="none" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <div fxFlex="50">
      <h1>Buttons</h1>

      <div fxLayout="row" fxLayoutGap="16px">
        <button mat-raised-button color="primary" (click)="showDialog()">
          Open Dialog
        </button>

        <button mat-raised-button color="accent">
          Accent button
        </button>

        <button mat-raised-button color="warn">
          Warn button
        </button>
      </div>

      <br><br>

      <h1>Input</h1>

      <form [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()"
        (keydown.shift.enter)="$event.preventDefault()">
        <input matInput type="text" formControlName="deviceName" placeholder="Enter some information">
      </form>

      <br><br>

      <h1>Checkbox</h1>

      <mat-checkbox>Check this box!</mat-checkbox>

      <br><br>

      <h1>Expansion panel</h1>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <br><br>
    </div>
    <div fxFlex="50">
      <h1>A card</h1>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  }

  <main fxFlex style="border: 0px solid white;" fxLayout>
    <div fxFlex="auto">
      <div class="flank"></div>
    </div>
    <!-- 960px is sm -->
    <div fxFlex.lt-md="920px" fxFlex.gt-sm="89em" style="border: 0px dashed white;">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="auto">
      <div class="flank"></div>
    </div>
  </main>

  <app-footer fxFlex="none">
  </app-footer>

</section>
