.content-screen {
  min-height: 100vh;
}

.dark-mode-test-area {
  padding: 0.5em;
}

.togggle-dark-mode {
  position: absolute;
  margin-left: calc(100% - 14em);
}

.flank {
  transform: rotate(-90deg);
  margin-top: 10em;
  font-size: 24px;
  font-weight: bolder;
  color: goldenrod;
  text-wrap: nowrap;
}
