main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  height: 40vh;
  background-color: #282c34;
  color: white;
  background-image: url('../../assets/react-1-logo-png-transparent.png');
  background-repeat: no-repeat;
  background-position-x: right -10em;
  background-position-y: 65%;
  background-size: 25%;
}

.list {
  font-size: 1.2rem;
  font-weight: 700;
  width: 15em;
  border: 2px dotted blue;
  margin: 0.5em 30em;

  ol {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
  }

  li {
    padding-block: 0.5em;
    color: chartreuse;
  }
}

button {
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
}
