/* Begin: @import does not work */
/* @import '../css/indi_tokens'; */
/* @import url(../css/my.css); */
/* End: @import does not work */

/* Begin: Copied from indi.css because @import does not work */
.indi-form__input-notification {
	color: #404040;
	font-size: 16px;
}

.indi-form__input-notification--has-error {
	color: #B80014;
}

.indi-form__input--has-error {
	border-color: #EE1B32 !important;
	border-width: 2px !important;
}

/* End: Copied from indi.css because @import does not work */

.label-form-input-error {
	/* color: green; */
	background-color: lightgrey;
	margin-left: 20px;
	padding: 0px 10px 0px 10px;
	@extend .indi-form__input-notification !optional;
	@extend .indi-form__input-notification--has-error !optional;
}

table {
	td {
		input {
			margin: 2px 10px;
		}
	}
}
