fieldset {
  border: solid 2px #61dafb;
  border-radius: 0.5em;
  padding: 1em;
  margin: 2em 0;
  background-color: #282c34;
  color: #61dafb;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  box-shadow: 2px 3px 8px 2px #61dafb;
  transition: all 0.3s ease;
}

fieldset>div {
  margin-bottom: 1em;
}

fieldset>div>label {
  display: flex;
  align-items: center;
}

fieldset>div>label>input {
  margin-right: 1em;
}

fieldset>div>label>input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

fieldset>div>label>input[type="checkbox"]:checked {
  background-color: #61dafb;
}
