<section style="text-align: center;">
  <app-loading [loading]="loading"></app-loading>
  <h3>Add Item</h3>

  <mat-card class="full-width-table">

    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div fxFlex>
          @if(errMsg && errMsg.length > 0) {
          <div fxLayout fxLayoutAlign="center">
            <div class="error">{{errMsg}}</div>
          </div>
          }
          @if(saved) {
          <div fxLayout fxLayoutAlign="center">
            <div class="info">Item Update Success</div>
          </div>
          }
        </div>
        <div fxFlex="none" fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5em">
          <button mat-raised-button fxFlex="none" (click)="cancel();$event.stopPropagation();" color="secondary">
            Cancel
          </button>
          <button mat-raised-button fxFlex="none" (click)="reset();$event.stopPropagation();" [disabled]="saved"
            color="secondary">
            Reset
          </button>
          <button mat-raised-button fxFlex="none" (click)="save();$event.stopPropagation();"
            [disabled]="!(formGroup.valid && (!formGroup.pristine || formGroup.touched)) || saved" color="primary">
            Save
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="full-width-table">
    <mat-card-content fxLayout fxLayoutAlign="center">
      <div fxFlex="70">
        <form [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()"
          (keydown.shift.enter)="$event.preventDefault()">

          <div fxLayout="column" fxLayoutGap="0.5em">

            <div fxLayout fxLayoutAlign="center center">
              <span fxFlex="30" class="label required">
                Name
              </span>
              <input fxFlex type="text" formControlName="name" required (input)="change()" (keyup.enter)="save()">
            </div>

            <div fxLayout fxLayoutAlign="center start">
              <span fxFlex="30" class="label">
                description
              </span>

              <textarea fxFlex matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="15" formControlName="description" (input)="change()"
                (keyup.enter)="save()"></textarea>
            </div>

            <div fxLayout fxLayoutAlign="center center">
              <span fxFlex="30" class="label required">
                Price
              </span>

              <input fxFlex type="text" formControlName="price" required (input)="change()" (keyup.enter)="save()">
            </div>

            <!-- image begin -->

            <div fxFlex fxLayout fxLayoutAlign="center start">
              <span fxFlex="30" class="label required">
                Image
              </span>
              <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em">

                <!-- display selected images -->

                @if (imageFiles.length > 0) {
                <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">

                  @for(imageFile of imageFiles; track imageFile; let i = $index) {
                  <div fxFlex="none" fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">

                    <img fxFlex="none" [src]="imageBase64Data[i]">

                    <div fxFlex="none">
                      {{imageFile.name}}
                    </div>
                    <button mat-raised-button color="primary" fxFlex="none" (click)="removeFile(i)" type="button"
                      style="height: 2.1em;">
                      <i class="fas fa-xmark-circle"></i>
                      <span>
                        Remove
                      </span>
                    </button>
                  </div>
                  }


                </div>
                }


                <div fxFlex="none" fxLayout fxLayoutAlign="start start" fxLayoutGap="0.5em">

                  <!-- challenge: "multiple" has synchronization issue -->
                  <input hidden type="file" multiple (change)="fileChanged($event)" #imagesInput
                    accept=".webp,.jpg,.jpeg,.png,.svg,.gif" id="images" name="images">

                  <!-- attache more image button -->

                  <button mat-raised-button color="primary" fxFlex="none" (click)="imagesInput.click()" type="button"
                    style="height: 2.1em;">
                    <i class="fas fa-plus-circle"></i>
                    @if (imageFiles.length === 0) {
                    <span>Attach Image</span>
                    } @else {
                    <span>Attach More Images</span>
                    }
                  </button>
                </div>
              </div>
            </div>

            <!-- image end -->
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

</section>
