td:nth-child(1){
    width: 270px;
    text-align: right;
    padding-right: 1em;
}

.right {
    text-align: right;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.grey {
	background-color: lightgrey;
}

div {
    border: darkblue dashed 0px;
}

div > div {
    border: yellow dashed 2px;
    width: 260px;
    text-align: center;
}

span.title1 {
	position: static;
	width: 80%;
    display: inline-block;
	font-size: 14pt;
	font-weight: bold;
}

span.title2 {
	position: static;
    width: 20%;
    text-align: right;
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
}
