@import './test.scss';

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;

    a {
        margin: 10px;
        font-weight: bold;
        color: darkblue;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

@mixin padding($values...) {
    @each $var in $values {
        padding: #{$var};
    }
}

@mixin margin($values...) {
    @each $var in $values {
        margin: #{$var};
    }
}

button {
    @include padding(4px 10px 6px);
    @include margin(10px 4px 6px);
    background-color: lightblue;
}

textarea {
    font: 0.8em $font-stack;
    color: $primary-color;
    @extend %bg-color;
}


