<section>
  <h3>Horizontal Center Align</h3>

  <h4>1. Text-Align</h4>

  <p>p text-align: center;</p>
  <div class="div-text-align">text-align: center;</div>

  <h4>2. Margin Auto</h4>

  <div class="div-margin-auto">margin: 0 auto;</div>

  <hr>

  <h3>Align with FlexBox</h3>

  <h4>3. Flex justify-content: center;</h4>

  <div class="flex-justify-content">display: flex; justify-content: center;</div>

  <div class="flex-vertical">display: flex; align-items: center;</div>

  <div class="flex-horizontal-vertical">display: flex; justify-content: center; align-items: center;</div>


  <hr>


  <h3>Align with flex-layout</h3>

  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 6em; border: 2px lime dashed;">
    <div fxFlex="60" fxLayout="row" fxLayoutAlign="space-around">
      <span>fxLayout="row" fxLayoutAlign="space-around center"</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 6em; border: 2px lime dotted;">
    <div fxFlex="60" fxLayout="row" fxLayoutAlign="space-around center">
      <span>fxLayout="row" fxLayoutAlign="center center"</span>
    </div>
  </div>

</section>
