<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>Thymeleaf + Security - Data Table</title>
    <div th:insert="fragments/header :: header-meta"></div>
    <div th:insert="fragments/header :: header-css"></div>
    <link rel="stylesheet" type="text/css" href="/js/DataTables-1.10.19/media/css/jquery.dataTables.min.css"
        th:href="@{/js/DataTables-1.10.19/media/css/jquery.dataTables.min.css}">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="/js/DataTables-1.10.19/media/js/jquery.dataTables.min.js"
        th:src="@{/js/DataTables-1.10.19/media/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" src="/js/datatable.js" th:src="@{/js/datatable.js}"></script>
</head>

<body>

    <div th:insert="fragments/header :: header-nav"></div>

    <div class="container">

        <div class="starter-template">
            <h2>Data Table (Normal page. No need login)</h2>
        </div>

        <div> <button onclick="addEmployeeToTable1()">Add An Employee To First Table</button> </div>
        <br>

        <table id="table1" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Office</th>
                </tr>
            </thead>
        </table>

        <br>

        <table id="table2" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Office</th>
                </tr>
            </thead>
        </table>

        <br>

        <table id="table3" class="display">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <!--
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>
            -->
        </table>

    </div>

    <div class="container">
        <div th:insert="fragments/footer :: footer"></div>
    </div>

</body>

</html>