<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>Thymeleaf + Security - Form Validation</title>
    <div th:insert="fragments/header :: header-meta"></div>
    <div th:insert="fragments/header :: header-css"></div>
    <link rel="stylesheet" type="text/css" href="/css/formvalidation.css" th:href="@{/css/formvalidation.css}" />
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="/js/jquery-validation@1.19.1/jquery.validate.min.js"
            th:src="@{/js/jquery-validation@1.19.1/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="/js/formvalidation.js" th:src="@{/js/formvalidation.js}"></script>
</head>

<body>

    <div th:insert="fragments/header :: header-nav"></div>

    <div class="container">

        <h2>jQurey Form Validation</h2>

        <div class="starter-template">
            <h2>jQurey Form Validation (Normal page. No need login)</h2>
        </div>

        <h2>Registration</h2>
        <form action="#" name="registration">

            <table name="table-test">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name=fname1" id=fname1" class="row-test" value="Luke">
                        </td>
                        <td>
                            <input type="text" name=lname1" id=lname1" class="row-test" value="Ma">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name=fname2" id=fname2" class="row-test" value="Luke">
                        </td>
                        <td>
                            <input type="text" name=lname2" id=lname2" class="row-test" value="Ma2">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name=fname3" id=fname3" class="row-test" value="Kishore">
                        </td>
                        <td>
                            <input type="text" name=lname3" id=lname3" class="row-test" value="Rama">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name=fname4" id=fname4" class="row-test" value="Kishore">
                        </td>
                        <td>
                            <input type="text" name=lname4" id=lname4" class="row-test" value="Rama">
                        </td>
                    </tr>
                </tbody>
            </table>


            <span id="spnText"></span>

            <br>
            <br>


            <!--
            <label for="desc">None Blank Description</label>
            <input type="text" name="desc" id="desc" digits="true" required minlength="3" maxlength="3" placeholder="None Blank Description" />
            <br>

            <label for="firstname">First Name 1</label>
            <input type="text" name="firstname_1" id="firstname_1" placeholder="FName 1" class="adjustAmt" />
            <br>
            <label for="firstname">First Name 2</label>
            <input type="text" name="firstname_2" id="firstname_2" placeholder="FName 2" class="adjustAmt" />
            <br>
            <label for="firstname">First Name 3</label>
            <input type="text" name="firstname_3" id="firstname_3" placeholder="FName 3" class="adjustAmt" />
            <br>
            <br>
            <br>
            -->

            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="John" />
            <br>

            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Doe" />
            <br>

            <!--
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="john@doe.com" />
            <br>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />
            <br>
            -->

            <input type="submit" name="submit" value="Register"></input>
            <input type="reset" name="reset" value="Reset"></input>

        </form>

    </div>

    <div class="container">
        <div th:insert="fragments/footer :: footer"></div>
    </div>

</body>

</html>