<div style="text-align:center; margin-top: 100px; ">
  <mat-card style="margin-top:10px; width: 50%;">
    <mat-card-content>
      <ul>
        <li *ngFor="let file of files">
          <mat-progress-bar [value]="progress"></mat-progress-bar>
          <span id="file-label">

          </span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" type="button" (click)="upload()">
        <mat-icon>file_upload</mat-icon>
        Upload
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-stroked-button color="primary" type="button" (click)="download();$event.preventDefault();">
        <mat-icon>file_download</mat-icon>
        Dowload from HelloSpringBootService
      </button>
    </mat-card-actions>
  </mat-card>

  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept=".txt,.zip,.pdf,.doc,.docx,image/*"
    style="display:none;" />


</div>
