<section>
  <nav class="ecorr-nav">
    <!-- User header -->

    <section class="">
      <mat-toolbar-row class="">
        <!--
        <button mat-button [class.ecorr-text-navy]="(router.url === '/surveys')" [routerLink]="['surveys']">
          <i class="fa fa-tasks"></i>
          My Surveys
        </button>
        <button mat-button [class.ecorr-text-navy]="(router.url === '/case-list')" [routerLink]="['/case-list']">
          <i class="fa-regular fa-comments"></i>
          Message Status
        </button>
        <button mat-button [class.ecorr-text-navy]="(router.url === '/manage-account')" (click)="sendMessage()">
          <i class="fa fa-cog"></i>Manage Account
        </button>
        <button mat-button [class.ecorr-text-navy]="(router.url.includes('/submit-case'))" (click)="sendMessage()">
          <i class="fa fa-envelope"></i>Send Message
        </button>

        <button mat-button (click)="logout()">
          <i class="fa fa-sign-out"></i>Sign Out
        </button>
        -->

        <button mat-button #myAnymals [matMenuTriggerFor]="animals" (mouseenter)="openMyMenu()">
          <i class="fa-solid fa-hippo"></i>
          Animal index
        </button>
        <mat-menu #animals="matMenu" overlapTrigger="false">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
          </section>
        </mat-menu>

        <mat-menu #vertebrates="matMenu" [hasBackdrop]="false">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
            <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
            <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
          </section>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item>Insects</button>
            <button mat-menu-item>Molluscs</button>
            <button mat-menu-item>Crustaceans</button>
            <button mat-menu-item>Corals</button>
            <button mat-menu-item>Arachnids</button>
            <button mat-menu-item>Velvet worms</button>
            <button mat-menu-item>Horseshoe crabs</button>
          </section>
        </mat-menu>

        <mat-menu #fish="matMenu">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
          </section>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
          </section>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
          <section (mouseenter)="openMyMenu()" (mouseleave)="closeMyMenu()">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
            <button mat-menu-item disabled>Velociraptor</button>
          </section>
        </mat-menu>
      </mat-toolbar-row>
    </section>

  </nav>

</section>