.ecorr-nav {
    .nav-mobile {
        button,
        .mat-flat-button {
            line-height: 0;
            padding: 0;
            margin: 2px;
            line-height: 0;

            i {
                padding: 0;
                margin-bottom: 8px;
                opacity: 0.6;
            }
        }
    }

    .mat-toolbar-row {
        @media only screen and (max-width: 991px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav-pc {
        i {
            margin: 0 3px;
        }

        button {
            padding-left: 0.6em;
            padding-right: 0.6em;
        }

        @media only screen and (max-width: 850px) {
            button {
                padding-left: 0.3em;
                padding-right: 0.3em;
            }
        }
    }
}
