<?xml version="1.0" encoding="UTF-8"?>
<!-- web-resources:META-INF -->
<Context>
    <Realm className="org.apache.catalina.realm.MemoryRealm" digest="MD5"
           pathname="C:/D/tomcat-users/tomcat-users.xml"/>
           
    <!-- 
    <Realm className="org.apache.catalina.realm.UserDatabaseRealm" digest="MD5"
           pathname="C:/D/tomcat-users/tomcat-users.xml"/>
     -->
</Context>
