#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid blue;
  border-radius: 5px;
}

body {
  background-color: #242424;
  font-family: Inter, Arial, sans-serif;
}
