<section>
  <app-loading [loading]="loading"></app-loading>
  <div *ngIf="terms" fxLayout fxLayoutAlign="center">
    <google-map width="70vw" height="65vh" [options]="mapOptions" [center]="whidbey" [zoom]="zoom">
      <ng-container *ngFor="let term of terms">
        <map-polygon [paths]="term.location" [options]="term.options"
          (polygonMouseover)="mouseover(term)" (polygonMouseout)="mouseout(term)"
          (polygonClick)="toDetails(term.statusData.id)">
        </map-polygon>
        <map-marker [position]="term.marker" [options]="term.markerOptions" (click)="toDetails(term.statusData.id)"></map-marker>
      </ng-container>
    </google-map>
  </div>
</section>
