<footer>
  <h1 style="color: gold;">Not for Commercial Use. Only as a Proof of Java/Angular Programming Skills for Job Searching.</h1>
  <p>Copyright © 2023-{{year}} Prove You Can. All Rights Reserved.</p>
  <!--
  <a target="_blank" matTooltipPosition="above" matTooltip="Accessibility - opens in a new window or tab"
    href="https://www.ebayinc.com/accessibility/">Accessibility</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="User Agreement - opens in a new window or tab"
    href="https://www.ebay.com/help/policies/member-behaviour-policies/user-agreement?id=4259">User Agreement</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="Privacy - opens in a new window or tab"
    href="https://www.ebay.com/help/policies/member-behaviour-policies/user-privacy-notice-privacy-policy?id=4260">Privacy</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="Payments Terms of Use - opens in a new window or tab"
    href="https://pages.ebay.com/payment/2.0/terms.html">Payments Terms of Use</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="Cookies - opens in a new window or tab"
    href="https://www.ebay.com/help/policies/member-behaviour-policies/ebay-cookie-notice?id=4267">Cookies</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="CA Privacy Notice - opens in a new window or tab"
    href="https://www.ebayinc.com/company/privacy-center/privacy-notice/state-privacy-disclosures/#California">CA
    Privacy Notice</a>,
  <a target="_blank" matTooltipPosition="above" matTooltip="Your Privacy Choices - opens in a new window or tab"
    href="https://www.ebay.com/adchoice/ccpa">Your Privacy Choices</a> and
  <a target="_blank" matTooltipPosition="above" matTooltip="AdChoice - opens in a new window or tab"
    href="https://www.ebay.com/adchoice">AdChoice</a>
  -->
</footer>
