<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.learn" />
    
	<http auto-config="true" use-expressions="true">
	
	    <csrf disabled="true"></csrf>
	
		<intercept-url pattern="/test.web" access="permitAll" />
		<intercept-url pattern="/login*" access="permitAll" />
        <intercept-url pattern="/logout*" access="permitAll" />
        <intercept-url pattern="/accessdenied*" access="permitAll" />
        <intercept-url pattern="/**" access="isAuthenticated()"/>
		
		<!-- hasRole([role]), hasAnyRole([role1,role2]), permitAll, denyAll -->
		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')" />
		
		<access-denied-handler ref="myAccessDeniedHandler"/>
		
		<form-login login-page="/login.web" 
		            default-target-url="/welcome.web"
		            login-processing-url="/perform_login.web"
			        authentication-failure-url="/login.web?error=true"
			        always-use-default-target="true" />
			
		<logout logout-success-url="/logout.web" />
		 
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service> 
			    <user name="xma" password="123" authorities="ROLE_USER" /> 
			    <user name="mkyong" password="123456" authorities="ROLE_USER" /> 
			    <user name="lukema" password="123456" authorities="ROLE_ADMIN" /> 
			</user-service>
			 
			<!-- 
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="
					SELECT
					    username,
					    password,
					    enabled
					FROM
					    users
					WHERE
					    USERNAME= ? "

				authorities-by-username-query="
					SELECT
					    u.username,
					    ur.authority
					FROM
					    users u,
					    user_roles ur
					WHERE
					    u.user_id = ur.user_id
					AND u.username = ?  " />
			 -->
			 		
		</authentication-provider>
	</authentication-manager>

</beans:beans>
