/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 10pt;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.spacer {
    height: 20px;
}

footer {
    page-break-after: always;
}

div#container {
    /* border: 3px solid blue; */
    border: 0px solid blue;
}

header,
footer {
    width: 100%;
    background-color: lightgrey;
    /* border: 3px solid yellow; */
}

label2:after {
    content: ":";
}

.percent::after {
    content: "%";
}
