<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-custom">

    <!-- Navbar brand/Logo -->
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Logo</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="nav-content">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"><button>Home</button></a>
            <a class="nav-item nav-link" routerLink="/rent" routerLinkActive="active">Rent</a>

            <!-- dropdown-menu -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <button>Dropdown Link</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/heroes" routerLinkActive="active">Heroes</a>
                    <a class="dropdown-item" routerLink="/login" routerLinkActive="active"
                        *ngIf="!userService.isLoggedIn">Login</a>
                    <a class="dropdown-item" (click)="userService.logout()" routerLinkActive="active"
                        *ngIf="userService.isLoggedIn">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/admin" routerLinkActive="active">Admin</a>
                </div>
            </div>

            <a class="nav-item nav-link" routerLink="/heroes" routerLinkActive="active"><button>Heroes</button></a>
            <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            <a class="nav-item nav-link" routerLink="/book" routerLinkActive="active">Book</a>
            <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active"
                *ngIf="!userService.isLoggedIn">Login</a>
            <a class="nav-item nav-link" (click)="userService.logout()" routerLinkActive="active"
                *ngIf="userService.isLoggedIn">Logout</a>
        </div>
    </div>

    <form class="form-inline">
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
    </form>
</nav>