@mixin myPanel() {
  .mat-dialog-container {
    background-color: lightskyblue;
    overflow: hidden;
  }
}

.myapp-modal {
  @include myPanel();

  .mat-dialog-container {
    padding: 0;
  }
}

.my-progress-bar {
  height: 10px;
  width: 200px;
}

.my-bar-value {
  width: 200px;
  text-align: center;
}
